<p class="big" style="font-weight:200;">
  Learn more about our members and discover the IoT solutions they&nbsp;offer&nbsp;today.
</p>

<div class="eclipsefdn-members-list" data-ml-wg="osgi" data-ml-template="logo-title-with-levels"></div>

<div class="margin-top-30 fw-700">
<p>
  Is your organisation ready to become a member? 
  <a href="https://membership.eclipse.org/application/ready-to-join">Join now</a>.
</p>
<p class="margin-bottom-0">
  If you have questions about membership in this working group or would like
  some assistance with the application process, 
  <a href="https://www.eclipse.org/membership/join-us/">contact us</a>.
</p>
</div>
