<div class="featured-members text-center row">
  <div class="container">
    <h2>Members</h2>
    <ul class="list-inline eclipsefdn-members-list flex-center gap-50 margin-bottom-40"
      data-ml-wg="osgi" data-ml-template="logo-with-levels" data-ml-wg-level="WGSD"
      data-ml-level-under-logo="true">
    </ul>
    <ul class="list-inline">
      <li><a class="btn btn-primary" href="https://membership.eclipse.org/application/ready-to-join">Become a Member</a>
      </li>
      <li><a class="btn btn-primary" href="/membership/members/">View all members</a></li>
    </ul>
  </div>
</div>
